#addon_csc_erachain .bg-icon,#addon_csc_erachaininstalled .bg-icon{
    background: url('../media/images/addons/csc_erachain/csc.png') center center no-repeat;
}

#addon_csc_erachain .addon-icon{
    background: url('../media/images/addons/csc_erachain/csc.png') center center no-repeat;
}

#addon_csc_erachain .bg-icon,#addon_csc_erachaininstalled .bg-icon .icon-puzzle-piece{
    display: none;
}

#addon_csc_erachain .bg-icon i,#addon_csc_erachainuninstalled .bg-icon i{
    display: none;
}