{include file="common/subheader.tpl" title="Erachain" target="#erachain"}

<div id="erachain" class="collapsed in">
    <div class="control-group">
        <label class="control-label" for="csc_erachain_asset_key">Asset Key:</label>
        <div class="controls">
            <input type="text" name="product_data[csc_erachain_asset_key]" value="{$product_data.csc_erachain_asset_key}" class="input-medium">
        </div>
    </div>
</div>